.pageStyle {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?cs=srgb&dl=pexels-travis-blessing-1363876.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.formRegistration{
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 165, 165, 0.2);
    height: 450px;
    width: 250px;
    padding: 30px;
}

input{
    background-color: white;
    border: none;
    font-size: medium;
    padding: 14px;
    border-radius: 20px;
    margin: 10px;
}

.down-button{
    color: white;
    border: none;
    font-size: medium;
    padding: 14px;
    border-radius: 20px;
    background-color: rgb(140 46 123);
}

.up-button{
    border: none;
    font-size: medium;
    padding: 14px;
    border-radius: 20px;
    width: 100%;
}

.link-div{
    display: flex;
    color: white;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 165, 165, 0.2);
    width: 290px;
    padding: 10px;
}

