.loginForm{
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 165, 165, 0.2);
    max-height: 250px;
    width: 250px;
    padding: 30px;
}
